<?xml version="1.0" encoding="UTF-8"?>
<web-app>
<servlet>
<servlet-name>R1</servlet-name>
<servlet-class>OPF.RegisterStaff</servlet-class>
</servlet>

<servlet>
<servlet-name>R2</servlet-name>
<servlet-class>OPF.KeyIn</servlet-class>
</servlet>

<servlet>
<servlet-name>R3</servlet-name>
<servlet-class>OPF.ParcelDisplay</servlet-class>
</servlet>

<servlet>
<servlet-name>R4</servlet-name>
<servlet-class>OPF.PickUp</servlet-class>
</servlet>

<servlet>
<servlet-name>R5</servlet-name>
<servlet-class>OPF.UpdateStaff</servlet-class>
</servlet>

<servlet>
<servlet-name>R6</servlet-name>
<servlet-class>OPF.displayimage</servlet-class>
</servlet>


<servlet-mapping>
<servlet-name>R1</servlet-name>
<url-pattern>/RegisterStaff</url-pattern>
</servlet-mapping>

<servlet-mapping>
<servlet-name>R2</servlet-name>
<url-pattern>/KeyIn</url-pattern>
</servlet-mapping>

<servlet-mapping>
<servlet-name>R3</servlet-name>
<url-pattern>/ParcelDisplay</url-pattern>
</servlet-mapping>

<servlet-mapping>
<servlet-name>R4</servlet-name>
<url-pattern>/PickUp</url-pattern>
</servlet-mapping>

<servlet-mapping>
<servlet-name>R5</servlet-name>
<url-pattern>/UpdateStaff</url-pattern>
</servlet-mapping>

<servlet-mapping>
<servlet-name>R6</servlet-name>
<url-pattern>/displayimage</url-pattern>
</servlet-mapping>


<welcome-file-list>
<welcome-file>RegisterStaff.jsp</welcome-file>
<welcome-file>KeyInPage.jsp</welcome-file>
<welcome-file>ParcelPage.jsp</welcome-file>
<welcome-file>delete.jsp</welcome-file>
<welcome-file>deleteaccount.jsp</welcome-file>
<welcome-file>editaccount.jsp</welcome-file>
<welcome-file>PickUp.jsp</welcome-file>
<welcome-file>EditProfilePage.jsp</welcome-file>
<welcome-file>History.jsp</welcome-file>
<welcome-file>LoginIndex.jsp</welcome-file>
<welcome-file>ProfileStaffPage.jsp</welcome-file>
<welcome-file>StundentPage.jsp</welcome-file>
<welcome-file>loginprocesss.jsp</welcome-file>
<welcome-file>search.jsp</welcome-file>
</welcome-file-list>



</web-app>